
waybackurls
trufflehog
subjs
subjack
subfinder
dirsearch
assetfinder
dnsgen
qsreplace
ngrok
katana
jq
httpx
httprobe
gf
gau
dnsx

gospider
gobuster
fuzzuli
ffuf
dalfoxasserfinder
aquatone
WhatWeb
EARScanner
dotdotpwn
kxss
nuclei
smuggler
secretx
ragno
feroxbuster
CVE-2020-5902.py 
CORScanner


